{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
  <title>TicTac</title>
  <link rel="stylesheet" href="{% static 'CSS/game.css' %}">
</head>
<body>
<h2 class="pb-2 pt-4 border-bottom pl-5">You play {{ player|capfirst }}</h2>
<div class="game">
  <div class="board">
    <div class="square top left" tabindex="0" id="0"><div class=""></div></div>
    <div class="square top" tabindex="0" id="1"><div class=""></div></div>
    <div class="square top right" tabindex="0" id="2"><div class=""></div></div>
    <div class="square left" tabindex="0" id="3"><div class=""></div></div>
    <div class="square" tabindex="0" id="4"><div class=""></div></div>
    <div class="square right" tabindex="0" id="5"><div class=""></div></div>
    <div class="square bottom left" tabindex="0" id="6"><div class=""></div></div>
    <div class="square bottom" tabindex="0" id="7"><div class=""></div></div>
    <div class="square bottom right" tabindex="0" id="8"><div class=""></div></div>
  </div>
<div class="restart" style="display: none;"></div>
</div>
{{ game_name|json_script:"game-name" }}
{{ player|json_script:"player" }}
<script>
  const player = JSON.parse(document.getElementById('player').textContent);
let gameState = ["", "", "", "", "", "", "", "", ""]
let turn = player
const gameName = JSON.parse(document.getElementById('game-name').textContent);
const checkForWinner = (player) => {
  const combo = [[0, 1, 2], [3, 4, 5], [6, 7, 8], [0, 3, 6], [1, 4, 7], [2, 5, 8], [0, 4, 8], [2, 4, 6]];
  for (let i = 0; i < combo.length; i++) {
    if (gameState[combo[i][0]] === player && gameState[combo[i][1]] === player
      && gameState[combo[i][2]] === player) return true;
  }
  return false;
}


const gameSocket = new WebSocket(
  'ws://'
  + window.location.host
  + '/ws/game/'
  + gameName
  + '/'
);

const restart = () => {
  gameState = ["", "", "", "", "", "", "", "", ""]
  const cells = document.querySelectorAll('.square');
  for (let cell of cells) {
    cell.childNodes[0].classList.remove('x', 'o');
  }
}

gameSocket.onopen = () => {
  alert('Opponent connected to the game!')
  restart()
}


gameSocket.onmessage = ev => {
  const data = JSON.parse(ev.data);
  turn = data['turn']
  let id = data['cell']
  const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-success',
        cancelButton: 'btn btn-danger'
      },
      buttonsStyling: false
    })
  if (data['message'] === 'won') {
    if (player === turn) { // player won
      swalWithBootstrapButtons.fire({
        title: 'You won!',
        text: "Do you want to restart a game?(Your opponent needs to choose this option too)",
        icon: 'success',
        showCancelButton: true,
        confirmButtonText: 'Yes, restart it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          restart()
          swalWithBootstrapButtons.fire(
            'Restated!',
            'Game has been restarted.',
            'success'
          )
        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire(
            'Cancelled',
            'You will be redirected to the main page :)',
            'error'
          )
          window.location.replace('{% url 'home' %}');
        }
      })

    } else { // player lost
      swalWithBootstrapButtons.fire({
        title: 'You lost!',
        text: "Do you want to restart a game?(Your opponent needs to choose this option too)",
        icon: 'error',
        showCancelButton: true,
        confirmButtonText: 'Yes, restart it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          restart();
          swalWithBootstrapButtons.fire(
            'Restated!',
            'Game has been restarted.',
            'success'
          )
        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire(
            'Cancelled',
            'You will be redirected to the main page :)',
            'error'
          )
        }
        window.location.replace('{% url 'home' %}');
      })
    }
    } else if (data['message'] === 'game_is_over') {
      swalWithBootstrapButtons.fire({
        title: 'Tie!',
        text: "Do you want to restart a game?(Your opponent needs to choose this option too)",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, restart it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          restart();
          swalWithBootstrapButtons.fire(
            'Restated!',
            'Game has been restarted.',
            'success'
          )
        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire(
            'Cancelled',
            'You will be redireced to the main page :)',
            'error'
          )
          window.location.replace('{% url 'home' %}');
        }
      })

  }

  const cell = document.getElementById(id)
  if (cell.childNodes[0].classList.length === 0) {
    cell.childNodes[0].classList.add(turn)
    gameState[cell.id] = turn
  }
  turn = turn === 'x' ? 'o' : 'x';
}

gameSocket.onclose = ev => {
  console.error('Chat socket closed unexpectedly');
};


const cells = document.querySelectorAll('.square');
console.log(cells)
for (let cell of cells) {
  cell.addEventListener('click', () => {
    if (cell.childNodes[0].classList.length === 0 && player === turn) {
      cell.childNodes[0].classList.add(turn);
      gameState[cell.id] = player;
      let message = ''
      if (checkForWinner(player)) {
        message = 'won'
      } else if (gameState.find(el => el === "") === undefined) {
        message = 'game_is_over'
      }
      gameSocket.send(JSON.stringify({
        'message': message,
        'cell': cell.id,
        'turn': turn,
      }))
    }
  })
}
</script>
</body>
</html>